{% extends 'base.html' %}
{% load notes_tags %}

{% block title %}Glossary{% endblock %}

{% block content %}
<section class="container-fluid p-2">
    <div class="header mb-5">
        <p class="display-3 text-dark text-center">Glossary</p>
    </div>

    <!-- Search Box -->
    <div class="mb-4">
        <input type="text" id="search-box" class="form-control" placeholder="Search for a term...">
    </div>

    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2" id="glossary-terms">

        {% for term in terms %}
        <div class="col glossary-term">
            <div class="card glossary-card">
                <p class="h3 text-center">{{ term.name }}</p>
                <p class="term-definition">{{ term.definition }}</p>
            </div>
        </div>
        {% endfor %}

    </div>

</section>
{% endblock %}


{% block custom_js %}
<script>
    document.getElementById('search-box').addEventListener('input', function () {
        const searchQuery = this.value.toLowerCase();
        const terms = document.querySelectorAll('.glossary-term');

        terms.forEach(function (term) {
            const termName = term.querySelector('.h3').textContent.toLowerCase();
            const termDefinition = term.querySelector('.term-definition').textContent.toLowerCase();

            if (termName.includes(searchQuery) || termDefinition.includes(searchQuery)) {
                term.style.display = 'block';
            } else {
                term.style.display = 'none';
            }
        });
    });
</script>
{% endblock custom_js %}