{% extends "base.html" %}
{% load notes_tags %}

{% block title %}{{entry.name}}{% endblock title %}

{% block content %}
<style>
    .ti-entry {
        font-size: 20px;
        padding: 0px;
    }

    img {
        display: flex;
        width: 100%;
    }
</style>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ entry.domain.course.get_absolute_url }}">
                {{ entry.domain.course }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ entry.domain.get_absolute_url }}">
                {{ entry.domain.name }}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ entry.name }}
        </li>
    </ol>
</nav>

<div class="d-flex justify-content-between mb-3">
    <div class="btn-group">
        <a class="btn btn-warning" href="{% url 'update_entry' entry.id %}">
            <i class="ti ti-edit ti-entry"></i>
        </a>
        <a class="btn btn-danger" href="{% url 'delete_entry' entry.id %}">
            <i class="ti ti-trash ti-entry"></i>
        </a>
    </div>
    <a class="btn btn-success" href="{% url 'create_entry' entry.domain.id %}">
        <i class="ti ti-circle-plus ti-entry"></i>
    </a>
</div>

<section class="container-fluid p-2">
    <div class="card">
        <div class="card-body">
            <h4 class="text-center display-5">{{ entry.name }}</h4>
            <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-primary m-2" data-bs-toggle="modal" data-bs-target="#termInlineModal">
                    <i class="ti ti-plus fs-5"></i>
                    <i class="ti ti-vocabulary fs-5"></i>
                </button>
            </div>

            <div class="text-dark">
                {{ entry.content|markdown }}
            </div>
        </div>
    </div>
</section>

{% include 'includes/create_term_inline.html' with entry=entry %}

{% endblock content %}

{% block custom_js %}
<script>
    var courseId = "{{ entry.domain.course.id }}";

    var loc = window.location;
    if (loc.protocol == 'https:') {
        var wsStart = 'wss://'
    }
    else {
        var wsStart = 'ws://';
    }

    var termInlineAddress = `${wsStart}${window.location.host}/ws/term/inline/create/${courseId}/`;
    const termInlineSocket = new WebSocket(termInlineAddress);
    termInlineSocket.onopen = function (e) {
        console.log(`The connection was setup successfully to "${termInlineAddress}!`);
    };
    termInlineSocket.onclose = function (e) {
        console.log(`something unexpected happened when connecting to "${termInlineAddress}/" !`);
        console.log(`Error: ${e}`);
    };

    document.querySelector("#create-term-inline-btn").onclick = function (e) {
        var term = document.querySelector(
            "#term-inline-input"
        ).value;
        definition = document.querySelector(
            "#definition-inline-input"
        ).value;

        termInlineSocket.send(JSON.stringify({ term: term, definition: definition, course_id: courseId }));
    };
    termInlineSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        document.querySelector("#term-inline-input").value = "";
        document.querySelector("#definition-inline-input").value = "";

        silverBox({
            alertIcon: "success",
            position: "top-right",
            text: `You have successfully created the term ${data.term}`,
            centerContent: true,
            cancelButton: {
                text: "OK"
            }
        })

    };
</script>
{% endblock custom_js %}