<div class="modal fade" id="logoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center my-2">
                    <i class="ti ti-alert-octagon" style="font-size: 40px;color: orange;"></i>
                </div>
                <p class="text-center">Are you sure you want to log out?</p>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary rounded-pill mx-2" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <a class="btn btn-danger rounded-pill mx-2" role="button" href="{% url 'logout_student' %}">
                        <span><i class="ti ti-door-exit" style="font-size: 20px;"></i></span>&nbsp;Log Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>