{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
<script src="{% static 'assets/js/fullcalendar.min.js' %}"></script>
<script src="{% static 'assets/js/fullcalendar-init.js' %}"></script>

<style>
    .popup-event {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1;
    }
</style>
{% endblock custom_css %}

{% block content %}
<div class="container-fluid">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}">Home</a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">
                Calendar
            </li>
        </ol>
    </nav>

    <h1 class="display-4 text-center">Calendar</h1>

    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Hi, View Your Events here!</h4>
                <p class="mb-3">
                    A calendar view of your events and tasks for the day, week, or month.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-intro-title">Calendar</h4>

                    <div class="">
                        <div id="external-events" class="my-3">
                            <p>Drag and drop your event or click in the calendar</p>
                        </div>
                        <!-- checkbox -->
                        <!-- <button class="btn btn-primary btn-event w-100" data-bs-toggle="modal"
                            data-bs-target="#newEventModal" data-target="#add-category">
                            <span class="align-middle"><i class="ti-plus"></i></span>
                            <span>&nbsp;Create New</span>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <div id="calendar" class="app-fullcalendar"></div>
                </div>
            </div>
        </div>
        <!-- BEGIN MODAL -->
        <div class="modal fade none-border" id="event-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><strong>Add New Event</strong></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success save-event waves-effect waves-light">Create
                            event</button>

                        <button type="button" class="btn btn-danger delete-event waves-effect waves-light"
                            data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Add Category -->
        <div class="modal fade none-border" id="add-category">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><strong>Add a category</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Category Name</label>
                                    <input class="form-control form-white" placeholder="Enter name" type="text"
                                        name="category-name">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Choose Category Color</label>
                                    <select class="form-control form-white" data-placeholder="Choose a color..."
                                        name="category-color">
                                        <option value="success">Success</option>
                                        <option value="danger">Danger</option>
                                        <option value="info">Info</option>
                                        <option value="pink">Pink</option>
                                        <option value="primary">Primary</option>
                                        <option value="warning">Warning</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger waves-effect waves-light save-category"
                            data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block custom_js %}
<script>
    var calendar = null;
    var student_id = '{{ request.user.id }}';

    var loc = window.location;
    if (loc.protocol == 'https:') {
        var wsStart = 'wss://'
    }
    else {
        var wsStart = 'ws://';
    }

    const myEventSocket = new WebSocket(`${wsStart}${window.location.host}/ws/event/`);
    myEventSocket.onopen = function (e) {
        console.log(`The connection was setup successfully to ${wsStart}${window.location.host}/ws/event/!`);
    };
    myEventSocket.onclose = function (e) {
        console.log(`something unexpected happened when connecting to ${wsStart}${window.location.host}/ws/event/!`);
        console.log(`Error: ${e}`);
    };

    myEventSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data.ssup == "created") {
            addedMyEvent(calendar, data);
        };
        if (data.ssup == "updated") {
            updatedMyEvent(calendar, data);
        };
        if (data.ssup == "deleted") {
            deletedMyEvent(calendar, data);
        };
    };


    function djangoJsonToArray(djangoJson) {
        let data = JSON.parse(djangoJson);

        // Convert JSON to array
        let arrayData = Object.keys(data).map(key => data[key]);

        // Print array data
        return arrayData;

    }

    var calendarEl = document.getElementById('calendar');
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();


    document.addEventListener('DOMContentLoaded', function () {
        calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            initialDate: yyyy + '-' + mm + '-' + dd,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            editable: true,
            selectable: true,
            businessHours: true,
            dragScroll: true,
            dayMaxEvents: true, // allow "more" link when too many events
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectMirror: true,
            eventClick: function (arg) {
                deleteMyEvent(arg, calendar, myEventSocket)
            },
            select: function (arg) {
                addMyEvent(student_id, arg, myEventSocket)
                calendar.unselect()

            },
            eventDrop: function (info) {
                updateMyEvent(student_id, info.oldEvent, info.event, myEventSocket);

            },
            events: djangoJsonToArray('{{ myevents_json| safe}}'),
        });

        calendar.render();

    });

</script>
{% endblock custom_js %}