{% load static %}
{% load notes_tags %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}CERT STUDY{% endblock title %}
  </title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/mine.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet" />
  <!-- Include the Quill library -->
  <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
  <link rel="stylesheet" href="{% static 'assets/css/silverBox.css' %}">
  <script src="{% static 'assets/js/silverBox.js' %}"></script>
  <script src="{% static 'assets/js/jquery.js' %}"></script>
  <!-- datatables -->
  <link rel="stylesheet" href="{% static 'assets/css/dataTables.min.css' %}">
  <script src="{% static 'assets/js/dataTables.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'assets/css/venobox.css' %}">
  {% block custom_css %}{% endblock custom_css %}
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="{% url 'dashboard' %}" class="text-nowrap logo-img">
            <img src="{% static 'assets/images/logos/logo.png' %}" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link {% if request.path == '' %} active{% endif %}" href="{% url 'dashboard' %}"
                aria-expanded="false">
                <span><i class="ti ti-layout-dashboard"></i></span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <div class="d-flex justify-content-start">
                <span class="hide-menu">Glossary</span>
              </div>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link {% if request.path == 'glossary' %} active{% endif %}" href="{% url 'term_list' %}"
                aria-expanded="false">
                <span><i class="ti ti-books"></i></span>
                <span class="hide-menu">Terms & Definitions</span>
              </a>
            </li>

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <div class="d-flex justify-content-between">
                <span class="hide-menu">COURSES</span>
                <a class="btn btn-sm btn-light" href="{% url 'create_course' %}">
                  <i class="ti ti-plus"></i>
                </a>
              </div>
            </li>

            {% nav_courses request.user %}

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <div class="d-flex justify-content-start">
                <span class="hide-menu">Planner</span>
              </div>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link {% if request.path == 'calendar' %} active{% endif %}" href="{% url 'calendar' %}"
                aria-expanded="false">
                <span><i class="ti ti-calendar"></i></span>
                <span class="hide-menu">Calendar</span>
              </a>
            </li>

          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-between">

              <form action="{% url 'notes_search' %}">
                <input class="form-control" placeholder="Search..." type="search" name="q" id="id_q">
              </form>

              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {% if request.user.profile.photo %}
                  <img src="{{ request.user.profile.photo.url }}" alt="..." width="35" height="35"
                    class="rounded-circle">
                  {% else %}
                  <img src="{% static 'assets/images/no-photo-icon.png' %}" alt=".." width="35" height="35"
                    class="rounded-circle">
                  {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="{% url 'profile' %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <button class="btn btn-outline-primary mx-3 mt-2 d-block" data-bs-toggle="modal"
                      data-bs-target="#logoutModal">Logout</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->

      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'success' %}
      <script>
        var message = "{{ message|safe }}";
        var alertType = "success";

        silverBox({
          alertIcon: alertType,
          position: "top-right",
          text: message,
          centerContent: true,
          cancelButton: {
            text: "OK",
          }
        })
      </script>
      {% elif message.tags == 'info' %}
      <script>
        var message = "{{ message|safe }}";
        var alertType = "info";

        silverBox({
          alertIcon: alertType,
          position: "top-right",
          text: message,
          centerContent: true,
          cancelButton: {
            text: "OK"
          }
        })
      </script>

      {% elif message.tags == 'warning' %}
      <script>
        var message = "{{ message|safe }}";
        var alertType = "warning";

        silverBox({
          alertIcon: alertType,
          position: "top-right",
          text: message,
          centerContent: true,
          cancelButton: {
            text: "Close"
          }
        })
      </script>

      {% elif message.tags == 'error' %}
      <script>
        var message = "{{ message|safe }}";
        var alertType = "error";

        silverBox({
          alertIcon: alertType,
          position: "top-right",
          text: message,
          centerContent: true,
          cancelButton: {
            text: "Close"
          }
        })
      </script>

      {% endif %}
      {% endfor %}
      {% endif %}

      <main class="container-fluid">
        {% block content %}

        {% endblock content %}

      </main>

      {% include 'includes/logout-modal.html' %}

    </div>
  </div>
  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'assets/js/app.min.js' %}"></script>
  <script src="{% static 'assets/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'assets/js/mine.js' %}"></script>
  <script src="{% static 'assets/js/venobox.min.js' %}"></script>

  {% block custom_js %}

  {% endblock custom_js %}

</body>

</html>